<div>
	<h1 class="text-center">Alien Movie Trivia!</h1>
	<br/>

	<p>Question {{$ctrl.currentQuestion + 1}} of {{ $ctrl.questions.length }}:</p>
	<br/>

	<!-- QUESTION -->
	<h2>{{$ctrl.questions[ $ctrl.currentQuestion ].question }}</h2>

	<br/><br/>
	<!-- FOR EACH ANSWER, SHOW THE CORRESPONDING TEXT -->
	<!-- HIDE IF FEEDBACK MODE IS ON -->
	<div class="answer-container" ng-repeat="answers in $ctrl.questions[ $ctrl.currentQuestion ].answers" ng-hide="$ctrl.isFeedbackMode">
		<div class="answer" ng-click="$ctrl.evaluateAnswer( answers.isCorrect, answers.feedback )">{{answers.text}}</div>
	</div>

	<!-- FEEDBACK - SHOW IF FEEDBACK MODE IS ON -->
	<div ng-show="$ctrl.isFeedbackMode">{{ $ctrl.currentFeedback }}</div>

	<br/><br/>

<!-- 	<button ng-click="$ctrl.prevQuestion()"> < </button>
	<button ng-click="$ctrl.nextQuestion()"> > </button> -->
</div>